.footer-donations {
    padding: 10;
    overflow-y: 'scroll';

    .footer-donations-address {
        border: 1px solid #8a8a8a2d;
        border-radius: 4px;
        padding: 4px 8px;
    }
}

.small-info {
    color: gray;
    font-style: italic;
}